.image {
  width: 100%;
  height: 100%;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cover {
  position: relative;
  display: flex;
  justify-content: stretch;
}
.cover img {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

.intro {
  /* font-weight: bold; */
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.intro div {
  width: 100%;
  height: 100%;
}
.intro div h1 {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 30px;
}
.intro div button {
  all: unset;
  background-color: grey;
  font-size: 1.2rem;
  width: 8rem;
  height: 4rem;
  text-align: center;
  border-radius: 5px;
  border-color: white;
  box-shadow: grey;
  position: absolute;
  right: 10%;
  bottom: 10%;
}
.intro div button:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(0.95);
}
.intro h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.7rem;
  margin-left: 10%;
  margin-top: 10%;
}
.intro p {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  margin-left: 10%;
}

/* .btnlink {
  text-decoration: none;
  text-decoration-color: none;
  color: white;
}  */
