:root{
  /*font size*/
  --homePage-heading: 2.5rem;
  --homePage-text: 1.5rem;
  --title: 1.5rem;
  --plain-text:1.2rem;

  /* color */
  --text-color:black;
  --default-color:#DCE7C6;
}

* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  
  
}
